.auth {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #007AFF;
  color: white;

  &__title {
    margin-bottom: 30px;
  }

  &__description {
    margin-bottom: 35px;
  }


}